{{define "book_details_table"}}
{{ if .Files -}}
<table class="book-details-files">
    <tr>
        <th>Format</th>
        <th>Tags</th>
        <th>Download</th>
        <th>Convert</th>
    </tr>
{{ range $v := .Files -}}
    <tr>
        <td>{{ $v.Extension }}</td>
        <td>{{ if $v.Tags }}{{ range $i, $v := $v.Tags }}{{ if $i}}, {{end}}{{ $v }}{{end}}{{end }}</td>
        <td><a href="/download/{{ $v.ID }}">Download</a></td>
        <td>{{if eq $v.Extension "mobi" "azw3" "lit" -}}
            <a href="/download/{{ .ID }}?format=epub">Convert to epub</a>{{ end }}</td>
    </tr>
{{end -}}
</table>
{{ else -}}
<p>No files are available for this book.</p>
{{ end -}}
{{ end }}