{{define "book_details_table"}}
{{ if .Files -}}
<table class="book-details-files">
    <tr>
        <th>Format</th>
        <th>Tags</th>
        <th>Size</th>
        <th>Convert</th>
    </tr>
{{ range $v := .Files -}}
    <tr>
        <td><a href="/download/{{ $v.ID }}/{{ pathEscape (base $v.CurrentFilename) }}">{{ $v.Extension }}</a></td>
        <td>{{ if $v.Tags }}{{ range $i, $v := $v.Tags }}{{ if $i}}, {{end}}{{ $v }}{{end}}{{end }}</td>
        <td>{{ ByteCountSI $v.FileSize }}</td>
        <td>{{if eq $v.Extension "mobi" "azw3" "lit" -}}
            <a href="/download/{{ .ID }}/{{ pathEscape (changeExt (base $v.CurrentFilename) ".epub") }}?format=epub">Convert to epub</a>{{ end }}</td>
    </tr>
{{end -}}
</table>
{{ else -}}
<p>No files are available for this book.</p>
{{ end -}}
{{ end }}