{{ define "converting" }}
{{ $title := "Converting Book" }}
{{ template "header" $title }}
{{ template "searchform" }}
<h1>Converting Book</h1>
<p>Your book, {{ joinNaturally "and" .Authors }}: <em>{{ .Title }}</em>, is being converted. Please wait.</p>
<p>This page will periodically reload to check progress. Once the conversion is complete, the download will start.</p>
<p>Time till next reload: <span id="countdown"></span></p>
<script>
    var countdown = document.getElementById("countdown");
    var total = 15;
    var remaining = total - 1;  // setInterval as a 1 second delay
    countdown.innerHTML = total + " " + (total == 1 ? "second" : "seconds");
    timeInterval = setInterval(function() {
        countdown.innerHTML = remaining + " " + (remaining == 1 ? "second" : "seconds");
        --remaining;
        if (remaining <= 0) {
            clearInterval(timeInterval);
        }
    }, 1000)
</script>
{{ template "footer" }}
{{ end }}
